/* VLEditor vleditor.js
 * Mengxiao Lin <linmx0130@163.com>
 * All rights reserved.
 */
.vleditor-editor{
    border: 1px solid grey;
    width:300px;
    height:200px;
    overflow:scroll;
}
.vleditor-editor p{
    margin:0.5em 0;
}
.vleditor-btnbar img{
    height:1em;
    width:1em;
    border:1px solid transparent;
}
.vleditor-btn:hover img{
    border:1px solid grey;
}
.vleditor-btn {
    padding:0.1em;
}
.vleditor-btn-chosen img{
    background-color: rgba(148, 148, 148, 0.75);
    border: 1px solid #828282;
}
